<div class="ui stackable cards container">
<div class="ui card" ng-repeat="image in $ctrl.links" style="max-width: 200px;">
  <div class="image">
    <img src="{{image.link}}" style="max-height: 200px;max-width: 200px;">
  </div>
  <div class="content">
    <span class="header center aligned">{{image.title}}</span>
  </div>
  <div class="ui two buttons bottom attached mini center aligned">
      <button class="ui blue button"><i class="pencil icon"></i>Edit</button>
      <button class="ui red button"><i class="remove icon"></i>Delete</button>
    </div>
</div>
</div>